.lock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background: #FFFFFF;
    border: 1px solid #C8D6E5;
    border-radius: 10px;
}

.header{
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
    font-family: 'DM Sans', sans-serif;
}

.inputPass{
    display: flex;
}

.pass{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(195, 190, 190);
    font-size: 28px;
    text-align: center;
}

.btn{
    margin-top: 20px;
    width: 160px;
    height: 44px;   
    background: #142683;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    cursor: pointer;
    border: 0px;
}

.btn:hover{
    background: #394eba;
}

.lockContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(30, 39, 46, 0.9);
    /* overflow-y:hidden; */
  }

  .error{
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    color: red;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 0px;
}