.sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100vh;
    background: #F7F8FA;
}

.buttons{
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
}

.btn{
    margin-right: 20px;
    height: 40px;
    background: transparent;
    border-radius: 5px;
    border-color: #445EE2;
    color: #445EE2;
    font-weight: 600;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    display: flex;
    align-items: center;
    width: 115px;
}

.lock{
    position: relative;
    top: 570px;
    width: 281px;
    height: 44px;
    background: #445EE2;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: relative;
    width: 200px;
    top: 20px;
}

.icon{
    pointer-events: none;
    margin-right: 3px;
}